* {
  padding: 0;
  margin: 0;
}
/* HEADER */

.feedbackicon {
  color: lightgray;
  margin-left: 15px;
}

#hval {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
  color: rgb(255, 81, 81);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  background-color: rgb(0, 0, 0);
  flex: 100%;
  height: 89px;
}
.leftclass {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-basis: 33%;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.leftlist:hover {
  background-color: rgb(63, 60, 60);
}
.leftlist {
  color: white;
}

.rightlist {
  display: inline-block;
  padding: 14px 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin: 20px;
  margin-left: auto;
  text-decoration: none;
}

.valpic {
  height: 60%;

  margin-left: 10px;
}

.valbild {
  display: flex;
  flex-basis: 33%;
  align-items: center;
  justify-content: center;
}

.rightclass {
  flex-basis: 34%;
  flex-direction: row-reverse;
  display: inline-flex;
}

#mhamburgarmeny {
  margin-left: auto;
  margin-right: 20px;
  display: none;
}
#hamburgarmeny {
  display: none;
}
@media screen and (max-width: 1000px) {
  #hamburgarmeny {
    display: block;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 40px;
  }

  nav ul {
    display: none;
  }

  .rightlist {
    display: none;
  }
  .feedbackicon {
    display: block;
  }
  #hval {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* main */
.burningpheonix {
  height: 100vh;
  width: 100%;
  background-image: url("burning-pheonix.gif");
  background-size: cover;
  display: flex;
  align-items: center;
  background-position: center;
}
.downloadbutton {
  padding: 30px 40px;
  background-color: #ffe600;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 43%;
}
/* agents */
#Agents {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

.agentdesc {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
}

.agentspgpic {
  margin-top: -13%;
  display: flex;
  max-width: 400px;
}
.jettimg {
  width: 100%;
}
.chamberimg {
  width: 100%;
  margin-left: 100%;
}

.agentname {
  font-size: 20px;
  font-family: cursive;
}
.jettname {
  margin-left: 20px;
  /* animerat */
  background: linear-gradient(
    to right,
    rgb(68, 0, 253) 20%,
    rgb(43, 100, 223) 40%,
    rgb(35, 149, 214) 60%,
    rgb(0, 225, 255) 80%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: jettname 2s linear infinite;
}
@keyframes jettname {
  to {
    background-position: 200% center;
  }
}

.chambername {
  float: right;
  margin-right: 20px;
  /* animerat */
  background: linear-gradient(
    to right,
    rgb(253, 0, 118) 20%,
    rgb(237, 0, 245) 40%,
    rgb(255, 87, 233) 60%,
    rgb(248, 147, 231) 80%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: chambername 2s linear infinite;
}
@keyframes chambername {
  to {
    background-position: 200% center;
  }
}
.agentinfo {
  font-size: 10px;
  display: flex;
  justify-content: center;
  border-style: solid;
  padding: 10px;
  width: 20%;
}
.agentinfodiv {
  display: flex;
  justify-content: center;
  margin-top: -30%;
  transition: transform 0.2s;
}

.agentinfodiv:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  color: red;
}

.agentinfophone {
  display: none;
}

.agentdesc2 {
  display: none;
}

/* ESPORT */
.wrapper {
  width: 100%;
  height: auto;
  margin-top: 30%;
  border-top: solid;
  padding-top: 30px;
}
.esporth2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}
.esport {
  display: flex;
  width: 100%;
}
.ranksh3 {
  display: flex;
  justify-content: center;
  font-family: "Shadows Into Light", cursive;
}
.ranks {
  flex-basis: 50%;
  margin-left: 50px;
  margin-right: 50px;
}
.BIGGEST-TEAMS {
  margin-left: 50px;
  margin-right: 50px;
  flex-basis: 50%;
}
.Biggestteamsh3 {
  display: flex;
  justify-content: center;
  font-family: "Shadows Into Light", cursive;
}
.esport2 {
  display: none;
}

.valrank {
  width: 100%;
}

/* gameplay */
.gameplayh2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}
.gameinfo {
  text-align: center;
  display: flex;
  justify-content: center;
}
.gameplay {
  margin-left: 30px;
  margin-right: 30px;
}

/* media screen for saker i main */
@media screen and (max-width: 1000px) {
  .chamberimg {
    display: none;
  }
  .chambername {
    display: none;
  }
  .agentinfodiv {
    display: none;
  }
  .agentinfophone {
    display: block;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-style: solid;
    padding: 20px;
    width: 30%;
    border-width: 5px;
    border-color: aqua;
    background-color: white;
  }
  .agentinfomobile {
    display: flex;
    justify-content: center;
    margin-top: -40%;
  }
  .jettimg {
    margin-top: -10%;
  }
  .agentdesc {
    display: none;
  }
  .agentdesc2 {
    display: block;
    font-size: 50px;
    text-align: center;
    font-family: "Shadows Into Light";
  }
  .esport {
    display: none;
  }
  .esport2 {
    display: block;
    width: 100%;
    font-size: 30px;
  }
  .gameinfo {
    font-size: 30px;
  }
}
/* footer */
footer {
  background: rgb(0, 0, 0);
  height: auto;
  width: 100%;
  font-family: monospace;
  padding-top: 40px;
  margin-top: 30px;
  color: #fff;
}
.footersaker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footersaker h3 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.sociala {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sociala li {
  margin: 10px;
}
.sociala a {
  text-decoration: none;
  color: #fff;
}
.sociala a {
  font-size: 1.1rem;
  transition: color 0.4s;
}
.sociala a:hover {
  color: rgb(255, 0, 0);
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
/*feedback */
.wrapper2 {
  background: linear-gradient(-45deg, #810505, #ff3535, #ff4c2d, #ffa034);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  height: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #d9ff00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #d9ff00;
}

.container {
  border-radius: 5px;
  background-color: #ffd7d7;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 22%;
  text-align: center;
}

.contacth2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-bottom: 5px;
}
/* media screen feedback */
@media screen and (max-width: 1000px) {
  .wrapper2 {
    height: 2000px;
  }
}
